<div *ngIf='!selectedCategory'>
    <h2>Select a category:</h2>
    <ul>
        <li *ngFor='let category of categoryInfo' (click)='clickedCategory(category)'>{{ category?.title }}</li>
    
    </ul>
</div >

<div style="text-align:left" *ngIf='selectedCategory'>
<h4>Point Value: {{ questionInfo?.value }}</h4>
<h4>Category is: {{ questionInfo?.category.title }}</h4>
<h4>Question is: {{ questionInfo?.question }}</h4>
</div>
<app-answer-handler (buttonClicked)="getCategoriesFromService()" [questionInfo]="questionInfo" ></app-answer-handler>



